
@{
    Layout = null;
}

<script src="/Scripts/JTree.js" type="text/javascript"></script>

<div class="easyui-accordion" data-options="border:false,fit:true">
    <div title="基础数据" data-options="iconCls:'icon-search'" style="padding: 10px;">
        <ul id="ulTree"></ul>
    </div>
    <div title="系统维护" data-options="iconCls:'icon-help'" style="padding: 10px;">
        <p>
            The accordion allows you to provide multiple panels and display one or more at a
            time. Each panel has built-in support for expanding and collapsing. Clicking on
            a panel header to expand or collapse that panel body. The panel content can be loaded
            via ajax by specifying a 'href' property. Users can define a panel to be selected.
            If it is not specified, then the first panel is taken by default.
        </p>
    </div>
</div>
