
@{
    Layout = null;
}
<div style="margin: 10px; float: left;">
    <div id="registerpan" class="easyui-panel" title="挂号" data-options="collapsible:false,href:'/Portal/Registration'"
         style="width: 516px; height: 170px;">
    </div>
</div>
<div style="margin: 10px; float: left;">
    <div id="orderformpan" class="easyui-panel" title="划价" data-options="collapsible:false,href:'/Portal/Price'"
         style="width: 516px; height: 170px;">
    </div>
</div>
<div style="margin: 10px; float: left;">
    <div id="loginpan" class="easyui-panel" title="病人" data-options="collapsible:false,href:'/Portal/Patient'"
         style="width: 516px; height: 170px;">
    </div>
</div>
