<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="SP.Redis.RedisConfigInfo, SP.Redis"/>
  </configSections>
  <RedisConfig WriteServerList="192.168.1.231:6379" ReadServerList="192.168.1.231:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false"/>
</configuration>
<!--WriteServerList：可写的Redis链接地址。

　　ReadServerList：可读的Redis链接地址。

　　MaxWritePoolSize：最大写链接数。

　　MaxReadPoolSize：最大读链接数。

　　AutoStart：自动重启。

　　LocalCacheTime：本地缓存到期时间，单位:秒。

　　RecordeLog：是否记录日志,该设置仅用于排查redis运行时出现的问题,如redis工作正常,请关闭该项。-->