
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SP.Models.SYS_USERINFO
<script src="~/Scripts/Easyui/easyui-validate-extend.js"></script>
<form id="changeForm" method="post">
    <input type="hidden" name="userId" value="@Model.ID" />
    <table style="width: 100%; text-align: center">
        <tr>
            <td>
                <label for="password1">
                    密码:
                </label>
            </td>
            <td>
                <input id="changepwd" class="easyui-textbox" name="password" type="password" data-options="required:true,missingMessage:'密码不能为空',validType:'length[0,50]'" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">
                    重复密码:
                </label>
            </td>
            <td>
                <input id="changepwd1" class="easyui-textbox" type="password" name="Name" data-options="required:true,missingMessage:'重复密码不能为空',validType:'length[0,50]'" />
            </td>
        </tr>
    </table>
</form>