
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理后台</title>
    <link rel="stylesheet" type="text/css" href="/Scripts/Easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/Easyui/themes/default/easyui.css"  />

    <script src="@Url.Content("/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/Easyui/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/Easyui/locale/easyui-lang-zh_CN.js")" type="text/javascript"></script>
</head>
<body>
    
</body>
</html>
